body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #404040; /* background color*/
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #ffffff; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #333; /* Dark gray color */
}

/* Add more styles for labels, inputs, buttons, and output text */

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #010101; /* Styles and color for button */
    color: white;
    border: none;
    border-radius: 5px;
}

p {
    margin: 20px 0;
    font-size: 1.2em;
    color: #434343; /* Color for output text */
}
